.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid rgb(77, 74, 74);
  padding: 10px;
}

.pass {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.fail {
  color: rgb(255, 0, 0);
  font-weight: bold;
}